@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-anton: "Anton", sans-serif;
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}
